@model CumulativeProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<p>This page should show the teacher's information</p>

<div> Name: @Model.TeacherFname @Model.TeacherLname </div>
<div> Employee Number: @Model.EmployeeNumber </div>
<div> Salary: @Model.Salary </div>




